body {
    background-color: #eaeaea !important;
}

a{
  text-decoration: none !important;
}

.page-wrapper {
  height: 100vh;
}

.activityImgText {
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 100%;
  color: white;
  z-index: 1;
}

.imgContainer {
  position: relative;
  overflow: hidden;
}

.react-calendar {
    width: 100%;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

.react-datepicker-wrapper {
  width: 100% !important;
}

/*home page styles*/

.masthead {
    display: flex;
    align-items: center;
    background-image: linear-gradient(
            135deg,
            rgb(33, 37, 41) 0%,
            rgb(93, 35, 174) 69%,
            rgb(136, 101, 134) 89%
    ) !important;
    height: 100vh;
  }
  
  .masthead .ui.menu .ui.button,
  .ui.menu a.ui.inverted.button {
    margin-left: 0.5em;
  }
  
  .masthead h1.ui.header {
    font-size: 4em;
    font-weight: normal;
  }
  
  .masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
  }
  
  /*end home page styles*/

.activity-attendee-img {
  transition: transform 0.2s ease-in-out;
}

.activity-attendee-img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card-subtitle.bg-danger {
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
}

.card-text i {
  margin-right: 8px;
}

.user-image:hover {
  transition: transform 0.2s ease-in-out;
}

.user-image:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.tooltip {
  border-radius: 5px;
  opacity: 1 !important;
}

.tooltip-inner {
  background-color: #000000ae !important;
}

.navbar-brand {
  margin-right: 0 !important;
}

.nav-link.active {
  background-color: #5B3B8C !important;
  color: #fff !important;
}

.nav-link {
  color: #212529 !important;
}

.navLink {
  color: white !important;
}

.navLinkPurple {
  color: #5B3B8C !important;
}

.filterTextColor.active {
  background-color: #212529;
  color: white;
}

.react-calendar {
  width: 100% !important;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Arial', sans-serif;
  overflow: hidden;
}

.react-calendar__navigation {
  background-color: #212529;
  color: #fff;
}

.react-calendar__navigation button:hover {
  background-color: #f4f4f4 !important;
  color: #212529;
}

.react-calendar__navigation button {
  color: white;
}

.react-calendar__tile--active {
  background-color: #212529 !important;
}

.react-calendar__tile--now {
  background-color: #5B3B8C !important;
  color: #fff !important;
}

.profile-content {
  background-color: #fff;
}

.profile-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.profile-card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-wrapper {
  height: 100%;
  display: flex;
}

.activityDetailedSidebar {
  margin-left: 1rem;
  margin-top: 0;
  width: 25%;
}

.mobileActivityDetails {
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .mobileActivityDetails {
    width: 100% !important;
  }

  .activityDetailedSidebar {
    margin-top: 1rem;
    margin-left: 0;
    width: 100%;
  }

  .navbar .user-image {
    width: 30px;
    height: 30px;
  }

  .navbar .dropdown-toggle {
    font-size: 0.9rem;
    padding: 0.2rem 0.4rem;
  }

  .navbar .dropdown-menu {
    left: -100px !important;
  }
}
